POSTGRES_DB=SEAJ_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

DB_PORT=5432
DB_HOST=REPLACE_WITH_DB_HOST_VM_IP
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=seaj_db
APP_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/SEAJ_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=changeme

JWT_SECRET=JWT_SECRET
JWT_EXPIRY=1800

ENGINE_MIN_DELAY=0ms
ENGINE_MAX_DELAY=0ms
ENGINE_MAX_PRICE_IMPROVEMENT_BPS=0

SONAR_TOKEN=SONAR_TOKEN