POSTGRES_DB=SEAJ_db_DEMO
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
DB_PORT=5432

APP_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/SEAJ_db_DEMO
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=changeme
